$greenish:#73baae;
$white:#fff;
$pale:#e8f1f1;
$turquoise:#73baae;
$black:#000;
$grey:#f1f5f9;
$dark-grey:#acbac4;
$grey-background:#f5f7f9;
$mouse-grey:#757575;
$indigo:#2e313f;
$purple:#686cb6;
$font:'Roboto', sans-serif;
$spacing:1px;